# Sales Analysis using Python Pandas & Python Matplotlib

## OBJECTIVE

In this project, I use Python Pandas and Python Matplotlib to answer several business questions of 12-month sales data which contains information regarding product sold, quantity, price and address.

### Business questions to be addressed:

- Which products are the best sellers?
- Which are the top 10 products with highest sales?
- Which city sold the most products?
- What is the sales trend during 12 months & which month of the year has the highest sales?
- Which day of the week has the highest sales amount?
- What is the company sales by product and city?
- Which products often sold together?
- Based on the order time, what is the best time to display product advertisement to attract customers?
- What is the sales distribution by month?
- What is the sales distribution by product?
- What is the quantity distribution by month?
- What is the quantity distribution by product?

### Importing necessary libraries

In [74]:
import pandas as pd
import matplotlib.pyplot as plt
import glob

### Concatenate 12 csv files of sales data into 1 dataframe

In [75]:
path = r"/Users/huongtran/Desktop/Pandas_Sales_Analysis/Sales_Data"
all_files = glob.glob(path + "/*.csv")

# Create a list of dataframe of each file
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

# Concatenate into 1 dataframe
sales_data = pd.concat(li, axis=0, ignore_index=True)

In [76]:
sales_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

### Data Transformation

In [77]:
# Remove duplicate headers in the dataframe
sales_data = sales_data[sales_data['Order Date'] != 'Order Date']

In [78]:
# Convert Order Date column to datetime data type
sales_data['Order Date'] = pd.to_datetime(sales_data['Order Date'])

# Extract month from Order Date as a new column
sales_data['Month'] = sales_data['Order Date'].dt.month

In [79]:
# Check null values in the dataframe
sales_data.isna().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
Month               545
dtype: int64

In [84]:
# Drop null values in columns
sales_data.dropna(inplace=True)
sales_data.isna().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
dtype: int64

In [86]:
# Change data type of columns
sales_data['Month'] = sales_data['Month'].astype(int)
sales_data['Quantity Ordered'] = sales_data['Quantity Ordered'].astype(int)
sales_data['Price Each'] = pd.to_numeric(sales_data['Price Each'], errors = 'coerce')
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  185950 non-null  object
 6   Month             185950 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 11.3+ MB